.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0;
   
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.minHeight {
    min-height: 75vh;
}

@media (min-width: 450px) and (max-width: 900px){
  .container{
      width: 100%;
      justify-content: space-between; 
  }
}


